<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" role="button" routerLink="/home"
      >NTT Data - Angular Formaciones - Getting Started</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item cursor-pointer">
          <a
            role="button"
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a
            role="button"
            class="nav-link"
            routerLink="/componentes"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Componentes</a
          >
        </li>
        <li class="nav-item">
          <a
            role="button"
            class="nav-link"
            routerLink="/directivas"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Directivas y Pipes</a
          >
        </li>
        <li class="nav-item">
          <a
            role="button"
            class="nav-link"
            routerLink="/formularios"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Formularios</a
          >
        </li>
        <li class="nav-item">
          <a
            role="button"
            class="nav-link"
            routerLink="/servicios"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Servicios</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
